{
  "http_interactions": [
    {
      "recorded_at": "2018-03-09T20:13:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&action=upload_video"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendChatAction"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":true}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendChatAction"
      }
    },
    {
      "recorded_at": "2018-03-09T20:13:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&duration=8&width=100&height=400&caption=baloncesto&video=https%3A%2F%2Fi.imgur.com%2FLdE8jcw.mp4"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendVideo"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":20,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520626420,\"document\":{\"file_name\":\"LdE8jcw.mp4\",\"mime_type\":\"video/mp4\",\"thumb\":{\"file_id\":\"AAQEABN6M44aAASYKSVOr4nA5U0RAAIC\",\"file_size\":1890,\"width\":50,\"height\":90},\"file_id\":\"CgADBAADRxgBAAEJHmQHB2d9DuNuojkC\",\"file_size\":844944},\"caption\":\"baloncesto\"}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendVideo"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}