{
  "http_interactions": [
    {
      "recorded_at": "2018-03-12T19:46:10",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/getMe"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/getMe"
      }
    },
    {
      "recorded_at": "2018-03-12T19:46:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/createNewStickerSet?user_id=<USER>&name=pawt_test_file_by_pawtbot&title=%27test_file__test_file%27&emojis=%F0%9F%98%80%F0%9F%98%83%F0%9F%98%87&png_sticker=https%3A%2F%2Fi.imgur.com%2FBDZfRJg.png"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":true}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/createNewStickerSet?user_id=<USER>&name=pawt_test_file_by_pawtbot&title=%27test_file__test_file%27&emojis=%F0%9F%98%80%F0%9F%98%83%F0%9F%98%87&png_sticker=https%3A%2F%2Fi.imgur.com%2FBDZfRJg.png"
      }
    },
    {
      "recorded_at": "2018-03-12T19:46:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/getStickerSet?name=pawt_test_file_by_pawtbot"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"name\":\"pawt_test_file_by_pawtbot\",\"title\":\"'test_file__test_file'\",\"contains_masks\":false,\"stickers\":[{\"width\":512,\"height\":512,\"emoji\":\"\\ud83d\\ude00\",\"set_name\":\"pawt_test_file_by_pawtbot\",\"thumb\":{\"file_id\":\"AAQBABNLQAwwAARhATfWWBa8rigQAAIC\",\"file_size\":2856,\"width\":128,\"height\":128},\"file_id\":\"CAADAQADRQADI6SdE8ZrNfql8D6AAg\",\"file_size\":17014}]}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/getStickerSet?name=pawt_test_file_by_pawtbot"
      }
    },
    {
      "recorded_at": "2018-03-12T19:46:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/getFile?file_id=CAADAQADRQADI6SdE8ZrNfql8D6AAg"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"file_id\":\"CAADAQADRQADI6SdE8ZrNfql8D6AAg\",\"file_size\":17014,\"file_path\":\"stickers/file_2.webp\"}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/getFile?file_id=CAADAQADRQADI6SdE8ZrNfql8D6AAg"
      }
    },
[...]
    {
      "recorded_at": "2018-03-12T19:46:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/getFile?file_id=CAADAQADRQADI6SdE8ZrNfql8D6AAg"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"file_id\":\"CAADAQADRQADI6SdE8ZrNfql8D6AAg\",\"file_size\":17014,\"file_path\":\"stickers/file_2.webp\"}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/getFile?file_id=CAADAQADRQADI6SdE8ZrNfql8D6AAg"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}