{
  "http_interactions": [
    {
      "recorded_at": "2018-03-12T18:32:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&action=upload_photo"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendChatAction"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":true}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendChatAction"
      }
    },
    {
      "recorded_at": "2018-03-12T18:32:06",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&caption=I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am+I+am&photo=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F1%2F10%2FTursiops_truncatus_01.jpg%2F800px-Tursiops_truncatus_01.jpg"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendPhoto"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":81,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520879526,\"photo\":[{\"file_id\":\"AgADBAADimc7G24ZZAeI4CohXzyxGaUd-hkABGsunz2EMWJjxKkEAAEC\",\"file_size\":1420,\"width\":90,\"height\":59},{\"file_id\":\"AgADBAADimc7G24ZZAeI4CohXzyxGaUd-hkABEyWtAHMZ2SSxakEAAEC\",\"file_size\":25554,\"width\":320,\"height\":211},{\"file_id\":\"AgADBAADimc7G24ZZAeI4CohXzyxGaUd-hkABEvwQIkyhqzCxqkEAAEC\",\"file_size\":138808,\"width\":800,\"height\":528}],\"caption\":\"I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am I am\"}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendPhoto"
      }
    },
[...]
