{
  "http_interactions": [
    {
      "recorded_at": "2018-03-12T17:57:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&text=Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21[...]
    {
      "recorded_at": "2018-03-12T17:57:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&text=He"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendMessage"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":46,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520877440,\"text\":\"He\"}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendMessage"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}