{
  "http_interactions": [
    {
      "recorded_at": "2018-03-12T04:37:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/getMe"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/getMe"
      }
    },
    {
      "recorded_at": "2018-03-12T04:38:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--3c86e03c78d449cd9d5fdb3f42f29c4d\r\nContent-Disposition: form-data; name=\"user_id\"\r\n\r\n<USER>\r\n--3c86e03c78d449cd9d5fdb3f42f29c4d\r\nContent-Disposition: form-data; name=\"png_sticker\"; filename=\"gradient2.png\"\r\n\r\n\ufffdPNG\r\n\u001a\n\u0000\u0000\u0000\rIHDR\u0000\u0000\u0002\u0000\u0000\u0000\u0002\u0000\b\u0002\u0000\u0000\u0000{\u001aC\ufffd\u0000\u0000\u0000\tpHYs\u0000\u0000\u000b\u0013\u0000\u0000\u000b\u0013\u0001\u0000\ufffd\ufffd\u0018\u0000\u0000\u0000\u0007tIME\u0007\ufffd\u0003\n\b\u000e\u001c;\u052a\ufffd\u0000\u0000\u0000\u001diTXtComment\u0000\u0000\u0000\u0000\[...]
    {
      "recorded_at": "2018-03-12T04:38:08",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/createNewStickerSet?user_id=<USER>&name=pawt_test_set_by_pawtbot&title=Testing%3A+the+sticker+set&emojis=%F0%9F%98%80&contains_masks=True&mask_position=%7B%22point%22%3A+%22mouth%22%2C+%22x_shift%22%3A+0%2C+%22y_shift%22%3A+0%2C+%22scale%22%3A+1%7D&png_sticker=BQADAQADHAADw98wRRgWX2Pjt9DiAg"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":true}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/createNewStickerSet?user_id=<USER>&name=pawt_test_set_by_pawtbot&title=Testing%3A+the+sticker+set&emojis=%F0%9F%98%80&contains_masks=True&mask_position=%7B%22point%22%3A+%22mouth%22%2C+%22x_shift%22%3A+0%2C+%22y_shift%22%3A+0%2C+%22scale%22%3A+1%7D&png_sticker=BQADAQADHAADw98wRRgWX2Pjt9DiAg"
      }
    },
[...]
