{
  "http_interactions": [
    {
      "recorded_at": "2018-03-09T20:13:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&action=upload_document"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendChatAction"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":true}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendChatAction"
      }
    },
    {
      "recorded_at": "2018-03-09T20:13:39",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "--1b41e0a318ba4ec19738d38efe49427b\r\nContent-Disposition: form-data; name=\"chat_id\"\r\n\r\n<USER>\r\n--1b41e0a318ba4ec19738d38efe49427b\r\nContent-Disposition: form-data; name=\"caption\"\r\n\r\nTwo short stories\r\n--1b41e0a318ba4ec19738d38efe49427b\r\nContent-Disposition: form-data; name=\"document\"; filename=\"denevi.pdf\"\r\n\r\n%PDF-1.5\r\n%\ufffd\uf[...]
