{
  "http_interactions": [
    {
      "recorded_at": "2018-03-12T19:39:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&text=Pls+reply"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendMessage"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":120,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520883534,\"text\":\"Pls reply\"}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendMessage"
      }
    },
    {
      "recorded_at": "2018-03-12T19:39:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&reply_to_message_id=120&text=ok"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendMessage"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":121,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520883535,\"reply_to_message\":{\"message_id\":120,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520883534,\"text\":\"Pls reply\"},\"text\":\"ok\"}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendMessage"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}