{
  "http_interactions": [
    {
      "recorded_at": "2018-03-12T19:16:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&text=Reply+to+this%21"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendMessage"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":110,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520882209,\"text\":\"Reply to this!\"}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendMessage"
      }
    },
    {
      "recorded_at": "2018-03-12T19:16:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&reply_to_message_id=110&text=Ok%21"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendMessage"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":111,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520882210,\"reply_to_message\":{\"message_id\":110,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520882209,\"text\":\"Reply to this!\"},\"text\":\"Ok!\"}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendMessage"
      }
    },
[...]
    {
      "recorded_at": "2018-03-12T19:16:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&reply_to_message_id=110&latitude=37.8720789&longitude=-122.258008"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendLocation"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":113,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520882210,\"reply_to_message\":{\"message_id\":110,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520882209,\"text\":\"Reply to this!\"},\"location\":{\"latitude\":37.872078,\"longitude\":-122.258014}}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendLocation"
      }
    },
    {
      "recorded_at": "2018-03-12T19:16:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&action=upload_photo"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendChatAction"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":true}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendChatAction"
      }
    },
    {
      "recorded_at": "2018-03-12T19:16:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&reply_to_message_id=110&photo=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F1%2F10%2FTursiops_truncatus_01.jpg%2F800px-Tursiops_truncatus_01.jpg"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendPhoto"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":114,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520882211,\"reply_to_message\":{\"message_id\":110,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520882209,\"text\":\"Reply to this!\"},\"photo\":[{\"file_id\":\"AgADBAADimc7G24ZZAeI4CohXzyxGaUd-hkABGsunz2EMWJjxKkEAAEC\",\"file_size\":1420,\"width\":90,\"height\":59},{\"file_id\":\"AgADBAADimc7G24ZZAeI4CohXzyxGaUd-hkABEyWtAHMZ2SSxakEAAEC\",\"file_size\":25554,\"width\":320,\"height\":211},{\"file_id\":\"AgADBAADimc7G24ZZAeI4CohXzyxGaUd-hkABEvwQIkyhqzCxqkEAAEC\",\"file_size\":138808,\"width\":800,\"height\":528}]}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendPhoto"
      }
    },
    {
      "recorded_at": "2018-03-12T19:16:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&reply_to_message_id=110&game_short_name=<GAME SHORTNAME>"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendGame"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":115,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520882211,\"reply_to_message\":{\"message_id\":110,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520882209,\"text\":\"Reply to this!\"},\"game\":{\"title\":\"Test Game\",\"description\":\"<GAME SHORTNAME>\",\"photo\":[{\"file_id\":\"AgADAQAD0KcxG9DOGEXk6SLKGrA_Ump6DDAABJGCrmbjwuNbG90AAgI\",\"file_size\":2324,\"width\":90,\"height\":51},{\"file_id\":\"AgADAQAD0KcxG9DOGEXk6SLKGrA_Ump6DDAABF43tLLQlESJHN0AAgI\",\"file_size\":26094,\"width\":320,\"height\":180},{\"file_id\":\"AgADAQAD0KcxG9DOGEXk6SLKGrA_Ump6DDAABNU4cFxCMxmzHd0AAgI\",\"file_size\":58784,\"width\":640,\"height\":360}]}}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendGame"
      }
    },
[...]
    {
      "recorded_at": "2018-03-12T19:16:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&reply_to_message_id=110&audio=http%3A%2F%2Fwww.billwurtz.com%2Fla-de-da-de-da-de-da-de-day-oh.mp3"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendAudio"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":116,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520882212,\"reply_to_message\":{\"message_id\":110,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520882209,\"text\":\"Reply to this!\"},\"audio\":{\"duration\":191,\"mime_type\":\"audio/mpeg\",\"title\":\"La de da de da de da de day oh\",\"performer\":\"bill wurtz\",\"file_id\":\"CQADBAADZhsBAAExGmQHJNNquWsFTgYC\",\"file_size\":7663147}}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendAudio"
      }
    },
[...]
    {
      "recorded_at": "2018-03-12T19:16:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&reply_to_message_id=110&video=https%3A%2F%2Fi.imgur.com%2FLdE8jcw.mp4"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendVideo"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":117,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520882212,\"reply_to_message\":{\"message_id\":110,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520882209,\"text\":\"Reply to this!\"},\"document\":{\"file_name\":\"LdE8jcw.mp4\",\"mime_type\":\"video/mp4\",\"thumb\":{\"file_id\":\"AAQEABN6M44aAASYKSVOr4nA5U0RAAIC\",\"file_size\":1890,\"width\":50,\"height\":90},\"file_id\":\"CgADBAADRxgBAAEJHmQHB2d9DuNuojkC\",\"file_size\":844944}}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendVideo"
      }
    },
    {
      "recorded_at": "2018-03-12T19:16:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&reply_to_message_id=110&latitude=37.8720789&longitude=-122.258008&title=The+Campanile&address=Sather+Tower%2C+Berkeley%2C+CA+94720"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendVenue"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":118,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520882212,\"reply_to_message\":{\"message_id\":110,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520882209,\"text\":\"Reply to this!\"},\"location\":{\"latitude\":37.872078,\"longitude\":-122.258014},\"venue\":{\"location\":{\"latitude\":37.872078,\"longitude\":-122.258014},\"title\":\"The Campanile\",\"address\":\"Sather Tower, Berkeley, CA 94720\"}}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendVenue"
      }
    },
    {
      "recorded_at": "2018-03-12T19:16:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&reply_to_message_id=110&phone_number=%2B15555555555&first_name=John"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendContact"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":119,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520882213,\"reply_to_message\":{\"message_id\":110,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520882209,\"text\":\"Reply to this!\"},\"contact\":{\"phone_number\":\"+15555555555\",\"first_name\":\"John\"}}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendContact"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}