{
  "http_interactions": [
    {
      "recorded_at": "2018-03-12T18:59:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&latitude=37.8720789&longitude=-122.258008&live_period=120"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendLocation"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":97,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520881181,\"location\":{\"latitude\":37.872078,\"longitude\":-122.258014}}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendLocation"
      }
    },
    {
      "recorded_at": "2018-03-12T18:59:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&message_id=97&reply_markup=%7B%22inline_keyboard%22%3A+%5B%5B%7B%22text%22%3A+%22click+on+this+url%22%2C+%22url%22%3A+%22https%3A%2F%2Fduckduckgo.com%22%7D%5D%5D%7D"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/stopMessageLiveLocation"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":97,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520881181,\"location\":{\"latitude\":37.872078,\"longitude\":-122.258014}}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/stopMessageLiveLocation"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}