{
  "http_interactions": [
    {
      "recorded_at": "2018-03-12T19:56:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/getUserProfilePhotos?user_id=<USER>&limit=1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"total_count\":1,\"photos\":[[{\"file_id\":\"AgADAQADqacxGyOknRNMBe0drtPP7PT15y8ABPWstCOCSkoljhACAAEC\",\"file_size\":9931,\"width\":160,\"height\":160},{\"file_id\":\"AgADAQADqacxGyOknRNMBe0drtPP7PT15y8ABPMRp90LVKKijxACAAEC\",\"file_size\":27628,\"width\":320,\"height\":320},{\"file_id\":\"AgADAQADqacxGyOknRNMBe0drtPP7PT15y8ABIlEVCTeM2YukBACAAEC\",\"file_size\":83833,\"width\":640,\"height\":640}]]}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/getUserProfilePhotos?user_id=<USER>&limit=1"
      }
    },
    {
      "recorded_at": "2018-03-12T19:56:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/getUserProfilePhotos?user_id=<USER>&offset=1&limit=1"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"total_count\":1,\"photos\":[]}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/getUserProfilePhotos?user_id=<USER>&offset=1&limit=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}