{
  "http_interactions": [
    {
      "recorded_at": "2018-03-13T23:29:26",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/getMe"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/getMe"
      }
    },
    {
      "recorded_at": "2018-03-13T23:29:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/createNewStickerSet?user_id=<USER>&name=pawt_sticker_replies_by_pawtbot&title=test_message.py&emojis=%F0%9F%8D%8A&png_sticker=https%3A%2F%2Fi.imgur.com%2FBDZfRJg.png"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":true}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/createNewStickerSet?user_id=<USER>&name=pawt_sticker_replies_by_pawtbot&title=test_message.py&emojis=%F0%9F%8D%8A&png_sticker=https%3A%2F%2Fi.imgur.com%2FBDZfRJg.png"
      }
    },
    {
      "recorded_at": "2018-03-13T23:29:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/getStickerSet?name=pawt_sticker_replies_by_pawtbot"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"name\":\"pawt_sticker_replies_by_pawtbot\",\"title\":\"test_message.py\",\"contains_masks\":false,\"stickers\":[{\"width\":512,\"height\":512,\"emoji\":\"\\ud83c\\udf4a\",\"set_name\":\"pawt_sticker_replies_by_pawtbot\",\"thumb\":{\"file_id\":\"AAQBABNLQAwwAARhATfWWBa8rigQAAIC\",\"file_size\":2856,\"file_path\":\"thumbnails/file_4.jpg\",\"width\":128,\"height\":128},\"file_id\":\"CAADAQADdgADI6SdE3dSrVundh4RAg\",\"file_size\":17014}]}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/getStickerSet?name=pawt_sticker_replies_by_pawtbot"
      }
    },
    {
      "recorded_at": "2018-03-13T23:29:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&text=Stick+me%21"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendMessage"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":197,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520983768,\"text\":\"Stick me!\"}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendMessage"
      }
    },
    {
      "recorded_at": "2018-03-13T23:29:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&reply_to_message_id=197&sticker=CAADAQADdgADI6SdE3dSrVundh4RAg"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendSticker"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":198,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520983768,\"reply_to_message\":{\"message_id\":197,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520983768,\"text\":\"Stick me!\"},\"sticker\":{\"width\":512,\"height\":512,\"emoji\":\"\\ud83c\\udf4a\",\"set_name\":\"pawt_sticker_replies_by_pawtbot\",\"thumb\":{\"file_id\":\"AAQBABNLQAwwAARhATfWWBa8rigQAAIC\",\"file_size\":2856,\"file_path\":\"thumbnails/file_4.jpg\",\"width\":128,\"height\":128},\"file_id\":\"CAADAQADdgADI6SdE3dSrVundh4RAg\",\"file_size\":17014}}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendSticker"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}