{
  "http_interactions": [
    {
      "recorded_at": "2018-03-12T22:38:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/getStickerSet?name=LazyPanda"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"name\":\"LazyPanda\",\"title\":\"Lazy Panda\",\"contains_masks\":false,\"stickers\":[{\"width\":512,\"height\":512,\"emoji\":\"\\ud83d\\ude02\",\"set_name\":\"LazyPanda\",\"thumb\":{\"file_id\":\"AAQCABPaJrcNAASJiQPPmO8lTz-UAAIC\",\"file_size\":6626,\"width\":128,\"height\":128},\"file_id\":\"CAADAgADfwUAAvoLtgjXDfpTMc8c-gI\",\"file_size\":45194},{\"width\":512,\"height\":512,\"emoji\":\"\\ud83d\\ude18\",\"set_name\":\"LazyPanda\",\"thumb\":{\"file_id\":\"AAQCABP7IrcNAAQ1A7mq_GwHd3GCAAIC\",\"file_size\":5098,\"width\":128,\"height\":128},\"file_id\":\"CAADAgADiAUAAvoLtgieYvkQUrvlqQI\",\"file_size\":30286},{\"width\":512,\"height\":512,\"emoji\":\"\\ud83d\\udc4d\",\"set_name\":\"LazyPanda\",\"thumb\":{\"file_id\":\"AAQCABMtMLcNAAQ4TUR4J[...]
