{
  "http_interactions": [
    {
      "recorded_at": "2018-03-13T17:27:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&game_short_name=<GAME SHORTNAME>"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendGame"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":135,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520962021,\"game\":{\"title\":\"Test Game\",\"description\":\"A game by @pawtbot for testing!\",\"photo\":[{\"file_id\":\"AgADAQAD0KcxG9DOGEXk6SLKGrA_Ump6DDAABJGCrmbjwuNbG90AAgI\",\"file_size\":2324,\"width\":90,\"height\":51},{\"file_id\":\"AgADAQAD0KcxG9DOGEXk6SLKGrA_Ump6DDAABF43tLLQlESJHN0AAgI\",\"file_size\":26094,\"width\":320,\"height\":180},{\"file_id\":\"AgADAQAD0KcxG9DOGEXk6SLKGrA_Ump6DDAABNU4cFxCMxmzHd0AAgI\",\"file_size\":58784,\"width\":640,\"height\":360}],\"animation\":{\"file_name\":\"game.mp4\",\"mime_type\":\"video/mp4\",\"thumb\":{\"file_id\":\"AAQBABMkRgwwAARE6qmMQdJHubYJAAIC\",\"file_size\":1638,\"width\":90,\"height\":50},\"file_id\":\"CgADAQADNwADEGxARXTadG7zBUUzAg\",\"file_size\":17609}}}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendGame"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}