{
  "http_interactions": [
    {
      "recorded_at": "2018-03-15T20:06:12",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "pre_checkout_query_id=abc123&ok=True"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/answerPreCheckoutQuery"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":false,\"error_code\":400,\"description\":\"Bad Request: QUERY_ID_INVALID\"}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/answerPreCheckoutQuery"
      }
    },
    {
      "recorded_at": "2018-03-15T20:06:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "pre_checkout_query_id=abc123&ok=False&error_message=It+went+wrong%21"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/answerPreCheckoutQuery"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":false,\"error_code\":400,\"description\":\"Bad Request: QUERY_ID_INVALID\"}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/answerPreCheckoutQuery"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}