{
  "http_interactions": [
    {
      "recorded_at": "2018-03-14T19:08:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/getUpdates?allowed_updates=inline_query"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":[]}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/getUpdates?allowed_updates=inline_query"
      }
    },
[...]
    {
      "recorded_at": "2018-03-14T19:09:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/getUpdates?allowed_updates=inline_query"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":[{\"update_id\":976005289,\n\"inline_query\":{\"id\":\"1413466331228443409\",\"from\":{\"id\":<USER>,\"is_bot\":false,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"language_code\":\"en-US\"},\"query\":\"Hello friend!\",\"offset\":\"\"}}]}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/getUpdates?allowed_updates=inline_query"
      }
    },
    {
      "recorded_at": "2018-03-14T19:09:03",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "inline_query_id=1413466331228443409&results=%5B%7B%22type%22%3A+%22article%22%2C+%22id%22%3A+%22a%22%2C+%22title%22%3A+%22Stephen+Hawking%3A+Visionary+physicist+dies+aged+76%22%2C+%22input_message_content%22%3A+%7B%22message_text%22%3A+%22%5BStephen+Hawking%3A+Visionary+physicist+dies+aged+76%5D%28http%3A%2F%2Fwww.bbc.com%2Fnews%2Fuk-43396008%29%22%2C+%22parse_mode%22%3A+%22Markdown%22%7D%2C+%22url%22%3A+%22http%3A%2F%2Fwww.bbc.com%2Fnews%2Fuk-43396008%22%7D%5D&cache_time=400&is_personal=True&next_offset=2&switch_pm_text=Read+more&switch_pm_parameter=Hawking"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/answerInlineQuery"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":true}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/answerInlineQuery"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}