{
  "http_interactions": [
    {
      "recorded_at": "2018-03-13T17:20:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&action=upload_document"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendChatAction"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":true}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendChatAction"
      }
    },
    {
      "recorded_at": "2018-03-13T17:20:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&document=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F7%2F7c%2FWLAStickers.pdf"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendDocument"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":132,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520961649,\"document\":{\"file_name\":\"WLAStickers.pdf\",\"mime_type\":\"application/pdf\",\"file_id\":\"BQADBAADLB8BAAFKG2QHAiuA57hZhL4C\",\"file_size\":657310}}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendDocument"
      }
    },
[...]
    {
      "recorded_at": "2018-03-13T17:20:49",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&document=BQADBAADLB8BAAFKG2QHAiuA57hZhL4C"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendDocument"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":133,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520961649,\"document\":{\"file_name\":\"WLAStickers.pdf\",\"mime_type\":\"application/pdf\",\"file_id\":\"BQADBAADLB8BAAFKG2QHAiuA57hZhL4C\",\"file_size\":657310}}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendDocument"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}