{
  "http_interactions": [
    {
      "recorded_at": "2018-03-12T19:01:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&text=Hello+World%21"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendMessage"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":99,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520881301,\"text\":\"Hello World!\"}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendMessage"
      }
    },
    {
      "recorded_at": "2018-03-12T19:01:41",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&message_id=99"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/deleteMessage"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":true}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/deleteMessage"
      }
    },
    {
      "recorded_at": "2018-03-12T19:01:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&message_id=99"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/deleteMessage"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":false,\"error_code\":400,\"description\":\"Bad Request: message to delete not found\"}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 400,
          "message": "Bad Request"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/deleteMessage"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}