{
  "http_interactions": [
    {
      "recorded_at": "2018-03-15T18:21:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/getUpdates?offset=1&timeout=20&allowed_updates=inline_query"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":[{\"update_id\":976005474,\n\"chosen_inline_result\":{\"from\":{\"id\":<USER>,\"is_bot\":false,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"language_code\":\"en\"},\"inline_message_id\":\"AQAAAPuLBAAjpJ0TgIBiQf20ZrA\",\"query\":\"test_edit_live_location\",\"result_id\":\"campanile\"}}]}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/getUpdates?offset=1&timeout=20&allowed_updates=inline_query"
      }
    },
    {
      "recorded_at": "2018-03-15T18:21:42",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/getUpdates?offset=976005475&timeout=20&allowed_updates=inline_query"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":[{\"update_id\":976005475,\n\"inline_query\":{\"id\":\"1413466331417803067\",\"from\":{\"id\":<USER>,\"is_bot\":false,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"language_code\":\"en\"},\"query\":\"\",\"offset\":\"\"}}]}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/getUpdates?offset=976005475&timeout=20&allowed_updates=inline_query"
      }
    },
[...]
    {
      "recorded_at": "2018-03-15T18:21:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "inline_query_id=1413466329261536447&results=%5B%7B%22type%22%3A+%22location%22%2C+%22id%22%3A+%22campanile2%22%2C+%22reply_markup%22%3A+%7B%22inline_keyboard%22%3A+%5B%5B%7B%22text%22%3A+%22Don%27t+press+me%22%2C+%22callback_data%22%3A+%22Nothing%2C+yo%22%7D%5D%2C+%5B%7B%22text%22%3A+%22Me+neither%22%2C+%22callback_data%22%3A+%22Nothing+also%22%7D%2C+%7B%22text%22%3A+%22Another+button%22%2C+%22callback_data%22%3A+%22skjdfh%22%7D%5D%2C+%5B%7B%22text%22%3A+%22Yet+another+button%22%2C+%22url%22%3A+%22ddg.co%22%7D%5D%2C+%5B%7B%22text%22%3A+%221%22%2C+%22url%22%3A+%22ddg.co%22%7D%5D%5D%7D%2C+%22latitude%22%3A+37.8720789%2C+%22longitude%22%3A+-122.258008%2C+%22title%22%3A+%22Where+I+am%22%2C+%22live_period%22%3A+65%7D%5D&cache_time=0"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/answerInlineQuery"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":true}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/answerInlineQuery"
      }
    },
    {
      "recorded_at": "2018-03-15T18:21:54",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/getUpdates?offset=1&timeout=20&allowed_updates=chosen_inline_result"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":[{\"update_id\":976005483,\n\"inline_query\":{\"id\":\"1413466329261536447\",\"from\":{\"id\":<USER>,\"is_bot\":false,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"language_code\":\"en\"},\"query\":\"test_stop_live_location\",\"offset\":\"\"}}]}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/getUpdates?offset=1&timeout=20&allowed_updates=chosen_inline_result"
      }
    },
[...]
    {
      "recorded_at": "2018-03-15T18:21:56",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "inline_message_id=AQAAAPyLBAAjpJ0TxYgn8P07Tsc&reply_markup=%7B%22inline_keyboard%22%3A+%5B%5B%7B%22text%22%3A+%22Don%27t+press+me%22%2C+%22callback_data%22%3A+%22Nothing%2C+yo%22%7D%5D%2C+%5B%7B%22text%22%3A+%22Me+neither%22%2C+%22callback_data%22%3A+%22Nothing+also%22%7D%2C+%7B%22text%22%3A+%22Another+button%22%2C+%22callback_data%22%3A+%22skjdfh%22%7D%5D%2C+%5B%7B%22text%22%3A+%22Yet+another+button%22%2C+%22url%22%3A+%22ddg.co%22%7D%5D%2C+%5B%7B%22text%22%3A+%221%22%2C+%22url%22%3A+%22ddg.co%22%7D%2C+%7B%22text%22%3A+%222%22%2C+%22url%22%3A+%22ddg.co%22%7D%5D%5D%7D"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/stopMessageLiveLocation"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":true}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/stopMessageLiveLocation"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}