{
  "http_interactions": [
    {
      "recorded_at": "2018-03-09T20:13:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&action=upload_audio"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendChatAction"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":true}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendChatAction"
      }
    },
    {
      "recorded_at": "2018-03-09T20:13:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&caption=File%3ABeethoven+Moonlight+2nd+movement.ogg&duration=125&voice=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F4%2F47%2FBeethoven_Moonlight_2nd_movement.ogg"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendVoice"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":21,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520626420,\"document\":{\"file_name\":\"Beethoven_Moonlight_2nd_movement.ogg\",\"mime_type\":\"audio/ogg\",\"file_id\":\"BQADBAADMhsBAAFfHGQHeJ-HOrR1ERsC\",\"file_size\":2317258},\"caption\":\"File:Beethoven Moonlight 2nd movement.ogg\"}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendVoice"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}