{
  "http_interactions": [
    {
      "recorded_at": "2018-03-13T17:57:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&latitude=37.8720789&longitude=-122.258008"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendLocation"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":138,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520963868,\"location\":{\"latitude\":37.872078,\"longitude\":-122.258014}}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendLocation"
      }
    },
    {
      "recorded_at": "2018-03-13T17:57:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&latitude=37.872078&longitude=-122.258014"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendLocation"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":139,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520963868,\"location\":{\"latitude\":37.872078,\"longitude\":-122.258014}}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendLocation"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}