{
  "http_interactions": [
    {
      "recorded_at": "2018-03-13T17:07:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&action=upload_audio"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendChatAction"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":true}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendChatAction"
      }
    },
    {
      "recorded_at": "2018-03-13T17:07:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&caption=La-de-da-de-da-de-da-de-day-oh%21&duration=191&performer=Bill+Wurtz&title=La+de+da+de+da+de+da+de+day+oh&audio=http%3A%2F%2Fwww.billwurtz.com%2Fla-de-da-de-da-de-da-de-day-oh.mp3"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendAudio"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":128,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520960878,\"audio\":{\"duration\":191,\"mime_type\":\"audio/mpeg\",\"title\":\"La de da de da de da de day oh\",\"performer\":\"bill wurtz\",\"file_id\":\"CQADBAADZhsBAAExGmQHJNNquWsFTgYC\",\"file_size\":7663147},\"caption\":\"La-de-da-de-da-de-da-de-day-oh!\"}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendAudio"
      }
    },
[...]
    {
      "recorded_at": "2018-03-13T17:07:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&audio=CQADBAADZhsBAAExGmQHJNNquWsFTgYC"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendAudio"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":129,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520960878,\"audio\":{\"duration\":191,\"mime_type\":\"audio/mpeg\",\"title\":\"La de da de da de da de day oh\",\"performer\":\"bill wurtz\",\"file_id\":\"CQADBAADZhsBAAExGmQHJNNquWsFTgYC\",\"file_size\":7663147}}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendAudio"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}