{
  "http_interactions": [
    {
      "recorded_at": "2018-03-12T21:07:45",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://api.telegram.org/bot<TOKEN>/getChat?chat_id=<USER>"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\",\"photo\":{\"small_file_id\":\"AQADAQADqacxGyOknRMACPT15y8ABPWstCOCSkoljhACAAEC\",\"big_file_id\":\"AQADAQADqacxGyOknRMACPT15y8ABIlEVCTeM2YukBACAAEC\"}}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/getChat?chat_id=<USER>"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}