{
  "http_interactions": [
    {
      "recorded_at": "2018-03-10T06:50:57",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&phone_number=%2B15555555555&first_name=Johnny&last_name=Appleseed"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendContact"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":{\"message_id\":24,\"from\":{\"id\":524099473,\"is_bot\":true,\"first_name\":\"PAWT tester\",\"username\":\"pawtbot\"},\"chat\":{\"id\":<USER>,\"first_name\":\"Joey\",\"last_name\":\"R\",\"username\":\"jarhill0\",\"type\":\"private\"},\"date\":1520664656,\"contact\":{\"phone_number\":\"+15555555555\",\"first_name\":\"Johnny\",\"last_name\":\"Appleseed\"}}}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendContact"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}