{
  "http_interactions": [
    {
      "recorded_at": "2018-03-12T17:57:25",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&text=Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21+Hello+world%21[...]
