{
  "http_interactions": [
    {
      "recorded_at": "2018-03-13T19:18:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "chat_id=<USER>&action=upload_video"
        },
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://api.telegram.org/bot<TOKEN>/sendChatAction"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": "{\"ok\":true,\"result\":true}"
        },
        "headers": {
          "Content-Type": "application/json"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://api.telegram.org/bot<TOKEN>/sendChatAction"
      }
    },
[...]
